*{
	margin: 0;
	padding: 0;
}
.top{
	height:50px;
	padding: 50px 100px;
	border-top: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
}
.top img{
	float: left;
}
.top_right{
	width:300px;
	height:100px;
	float: right;
}
.top_right button{
	width: 120px;
	height: 40px;
	margin-left: 20px;
	border-radius: 30px;
	font-size: 20px;
	outline: none;
}
.log{
	color: white;
	background-color: blue;
	border: none;
}
.new{
	color: blue;
	background-color: white;
	border: 1px solid blue;
}
.bottom{
	height:425px;
	padding: 50px 250px;
	position: relative;
}
.bottom_top_left{
	height:425px;
	width: 500px;
	position: absolute;
	bottom: 0;
}
.bottom_top_left p{
	font-size: 20px;
	margin-bottom: 30px;
}
.bottom_top_left input{
	width: 500px;
	height: 60px;
	font-size: 18px;
	border: none;
	border-bottom: 1px solid gainsboro;
}
.bottom_top_left a{
	text-decoration: none;
	margin: 20px;
	position: absolute;
	right: 0;
	font-size: 14px;
}
.bottom_top_left span{
	position: absolute;
	margin-top: 20px;
	right: 180px;
	color: gray;
	font-size: 14px;
}
.bottom_top_left span>input{
	width: 15px;
	height: 15px;
	margin-right: 5px;
}
.bottom_top_left button{
	width: 500px;
	height: 45px;
	border: none;
	background-color: royalblue;
	color: white;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	font-size: 20px;
}
.bottom_top_right{
	height:225px;
	width: 550px;
	position: absolute;
	bottom: 135px;
	right: 0;
}
.bottom_top_right a{
	text-decoration: none;
}
.bottom_top_right button{
	width:150px;
	height: 35px;
	border: none;
	background-color: red;
	opacity: 0.7;
	margin-top: 15px;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}
